* {
  margin: 0%;
  padding: 0%;
}

section {
  height: 500px;
  background-color: goldenrod;
  border: solid black 1px;
}

.header {
  background-color: black;
  height: 100vh;
  color: white;
  font-size: 40px;
}

h1 {
  font-size: 90px;
}

.header-text {
  margin-left: 40px;
}

footer {
  height: 500px;
  background-color: green;
}

nav {
  display: flex;
  justify-content: space-between;

}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 30px;
  width: 500px;
  
}

li {
  /* width: 200px; */
  text-decoration: none;
}

