* {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}

section {
  height: 500px;
  background-color: goldenrod;
  border: solid black 1px;
}

.header {
  background-color: black;
  height: 100vh;
  color: white;
  font-size: 40px;
}

h1 {
  font-size: 90px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.header-area {
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

footer {
  height: 500px;
  background-color: green;
}

nav {
  display: flex;
  justify-content: space-between;

}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 30px;
  width: 500px;
  
}

li {
  /* width: 200px; */
  text-decoration: none;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 25px;
  background-color: coral;
  font-weight: 500;
  text-align: center;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: teal;
}

.button:active {
  background-color: darkgray;
  color: black;
}

.social {
  padding-bottom: 200px;
}

.logo {
  height: 80px;
  margin: 30px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
}