body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.header-area {
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: black;
  height: 100vh;
  color: white;
  font-size: 40px;
}

.header-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 30px;
  width: 500px;
  
}

li {
  /* width: 200px; */
  text-decoration: none;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 25px;
  background-color: white;
  color: black;
  font-weight: 500;
  text-align: center;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: gray;
}

.button:active {
  background-color: darkgray;
  color: black;
}

.logo {
  height: 70px;
  margin: 30px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
}

.social {
  padding-bottom: 200px;
}

.icons {
  margin: 20px;
}

/* ----- ABOUT ME ----- */

.section-a {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.headshot {
  border-radius: 50%;
  width: 300px;
  margin-left: 80px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

/* ----- PORJECTS ----- */

.section-b {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

.project-card {
  width: 300px;
  height: 400px;
  box-shadow: 5px 5px 20px rgb(33, 33, 33);
  margin: 10px;
}

.subtext {
  font-size: 15px;
  font-weight: 400;
}

.project-image {
  margin-top: 25px;
  width: 300px;
  border-radius: 45%;
}





































footer {
  height: 500px;
  background-color: green;
}