body {
  margin: 0;
  padding: 0;
  font-family: courier, monospace;
  background-color: black;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}


/* ----- HOME ----- */

.header-area {
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.header {
  background-color: black;
  height: 100vh;
  color: white;
  font-size: 40px;
}

.header-text h1 {
  /* margin-left: 80px;
  margin-bottom: 200px; */
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}

.header-text p {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 30px;
  width: 500px;
}

ul.show {
  display: block;
}

li {
  /* width: 200px; */
  text-decoration: none;
}

/* .button {
  width: 200px;
  height: 55px;
  border-radius: 25px;
  background-color: white;
  color: black;
  font-weight: 500;
  text-align: center;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: gray;
}

.button:active {
  background-color: darkgray;
  color: black;
} */

.logo {
  height: 70px;
  margin: 30px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
}

.social {
  padding-bottom: 200px;
}

.icons {
  margin: 20px;
}

.hamburger {
  display: none;
}

.hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    margin: 0%;
    background-color: rgb(23, 23, 23);
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(23, 23, 23);
  }

  .logo {
    display: none;
  }

  .footer {
  
    color: white;
    text-align: center;
  }
  

/* ----- ABOUT ME ----- */

.section-a {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.headshot {
  border-radius: 50%;
  width: 300px;
  margin-left: 80px;
  border: 1px solid black;
  padding: 12px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
  .section-a {
    display: flex;
    flex-direction: column;
  }

  .headshot-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }


}

/* ----- PROJECTS ----- */

.section-b {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

@media(max-width: 900px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-card {
  width: 300px;
  height: 400px;
  box-shadow: 5px 5px 20px rgb(33, 33, 33);
  margin: 10px;
}

.subtext {
  font-size: 15px;
  font-weight: 400;
}

.project-image {
  margin: 15px;
  width: 250px;
  border-radius: 50%;
}

.project-link {
  text-decoration: none;
  color: black;
}

/* ----- CONTACT ----- */

